body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #E4F9F5;
}

.descript-intro {
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

.descript {
    font-family: 'Merriweather', serif;
}

.descript-about-me {
    font-family: 'Merriweather', serif;
    width: 50%;
    margin: auto;
    line-height: 2;
}

h1 {
    color: #66BFBF;
    font-size: 5.625em;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
   font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    padding-top: 20px;   
}

hr {
    border: dotted #00e0e0 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: white;
}

.bottom-container {
    background-color: white;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bg-custom {
    background-color: #E4F9F5;
}

.navbar-avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
    opacity: 70%;
}

.fb-img {
    border-radius: 50%;
    width: 120px;
    height: auto;
}

.spacing {
    height: 100px;
    background-color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.project {
    width: 350px;
    margin: auto 20px;
    background-color: rgb(180, 255, 255);
}

.adjustspace {
    padding-top: 20px;
}

.bottom-container{
    padding-top: 15px;
    background-color: #00e0e0;
    
}

